{% extends 'base.html' %}

{% block head %}
    <title>Recipease | Home</title>
{% endblock %}

{% block body %}

    <section id="intro-section" class="container-fluid">
        <div class="row">
            <div id="intro-section-box" class="col-4">
                <h2 id="intro-section-heading">Find, create and share your recipes</h2>
                <div class="intro-section-text">
                    <i class="intro-section-icon fa-duotone fa-magnifying-glass fa-2x" style="--fa-primary-color: orangered; --fa-secondary-color: white; --fa-secondary-opacity: 1;"></i>
                    <p> Browse our collection of recipes to <span class="intro-section-span">Find</span> your new favourite dish</p>
                </div>
                <div class="intro-section-text">
                    <i class=" intro-section-icon fa-duotone fa-file-plus fa-2x" style="--fa-primary-color: orangered; --fa-secondary-opacity: 1;"></i> 
                    <p >Add your flavours to the pot and <span class="intro-section-span">Create</span> your own recipes</p>
                </div>
                <div class="intro-section-text">
                    <i class=" intro-section-icon fa-duotone fa-people-arrows fa-2x" style="--fa-primary-color: orangered; --fa-secondary-opacity: 1;"></i>
                    <p><span class="intro-section-span"> Share</span> your creations with our community of budding chefs</p>
                </div>
            </div>
        </div>
    </section>

    <section id="recipe-cards-section">
        <div id="recipe-cards-container" class="container">
            <div class="row">
                <div class="col-6 offset-3">
                    <h2 id="recipe-cards-section-header">
                        <span id="recipe-cards-section-header-span">Find</span>  recipes created by you and other users in our collection
                    </h2>
                </div>
                    <div class="row text-center">
                        <a href="{{url_for('add_recipe')}}">
                            <div id="recipe-add-button" class="col-6 offset-3"
                            {% if not current_user.is_authenticated %}
                            style="display: none;"
                            {% endif %}>
                                <p>
                                    <i id="recipe-add-icon" class="text-center fa-plus fa-4x" style="color: orangered;"></i></a>
                                </p>
                            </div> 
                        </a>
                    </div>
                {% for recipe in all_recipes %}
                <div class="col-4 text-center">
                    <a class="view-recipe-link" href="{{url_for('view_recipe', recipe_id=recipe.id)}}">
                        <div class="recipe-card card">
                            <div class="card-body">
                                <p>
                                    {% if recipe.diet=='meat_eater' %}
                                    <i class="recipe-card-icon fa-duotone fa-meat" style="--fa-primary-color: rgb(170, 58, 58); --fa-secondary-color: rgb(255, 255, 255); --fa-secondary-opacity: 1;"></i>
                                    {% endif%}

                                    {% if recipe.diet=='vegetarian' %}
                                    <i class="recipe-card-icon fa-duotone fa-carrot" style="--fa-primary-color: rgb(0, 151, 8); --fa-secondary-color: rgb(233, 113, 0); --fa-secondary-opacity: 1;"></i>
                                    {% endif%}


                                    {% if recipe.diet=='vegan' %}
                                    <i class="recipe-card-icon fa-duotone fa-leaf" style="--fa-primary-color: rgba(255, 255, 255, 0.637); --fa-secondary-color: rgb(5, 160, 0); --fa-secondary-opacity: 1;"></i>
                                    {% endif%}

                                </p>
                                <h5 class="recipe-card-title card-title">{{recipe.name}}</h5>
                                <h6 class="recipe-card-author card-subtitle mb-2 text-muted">Created by: {{ recipe.author }}</h6>
                                <p class="recipe-card-text card-text">{{ recipe.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}