@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cutive+Mono&family=Gruppo&family=Josefin+Slab&family=Montserrat&family=Poiret+One&family=Red+Hat+Mono&display=swap');

* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    color: black;
    margin: 0;
    background-color: rgb(27,32,40);
    overflow-x: hidden;
  }


/* Base.html */

/* Navbar */

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    color: white;
    font-size: 3.5rem;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 3px 3px rgb(0, 0, 0);
    font-family: 'Red Hat Mono';
}

#brand-span {
    color: orangered;
}

.nav-link {
    font-family: 'Cutive Mono';
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
/* Index.html */

/* Intro Section */

#intro-section {
    height: 1450px;
    background-image: url('/static/images/index-background.jpg');
    background-size: cover;
    margin-top: -200px;
}