{% extends 'base.html' %}

{% block head %}
    <title>Flask App | Index</title>
{% endblock %}

{% block body %}

    <section id="intro-section" class="container-fluid">
        <div class="row">
            <div id="intro-section-box" class="col-4">
                <h2 id="intro-section-heading">Find, create and share your recipes</h2>
                <div class="intro-section-text">
                    <i class="intro-section-icon fa-duotone fa-magnifying-glass fa-2x" style="--fa-primary-color: orangered; --fa-secondary-color: white; --fa-secondary-opacity: 1;"></i>
                    <p> Browse our collection of recipes to <span class="intro-section-span">Find</span> your new favourite dish</p>
                </div>
                <div class="intro-section-text">
                    <i class=" intro-section-icon fa-duotone fa-file-plus fa-2x" style="--fa-primary-color: orangered; --fa-secondary-opacity: 1;"></i> 
                    <p >Add your flavours to the pot and <span class="intro-section-span">Create</span> your own recipes</p>
                </div>
                <div class="intro-section-text">
                    <i class=" intro-section-icon fa-duotone fa-people-arrows fa-2x" style="--fa-primary-color: orangered; --fa-secondary-opacity: 1;"></i>
                    <p><span class="intro-section-span"> Share</span> your creations with our community of budding chefs</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}