{% extends 'base.html' %}

{% block head %}
    <title>Recipease | Log In</title>
{% endblock %}

{% block body %}
<section class="auth-section">
    <div class="row">
        <div class="auth-heading col-4 offset-4 text-center">
            <h1><span class="auth-heading-span">Log In</span> to your account to continue creating and sharing your recipes</h1>
        </div>
        <div class="auth-form col-4 offset-4 text-center">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}
                <br>
                {{ form.password }}
                <br>
                {{ form.submit }}
            </form>
        </div>
    </div>
    
</section>

{% endblock %}